#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url('map.png');
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh; /* Adjust this value to position it slightly above the center */
  margin-top: 10vh; /* Adjust this value to fine-tune the vertical position */
  margin-bottom: 0;
  text-align: center;
}

.game-container {
  height: 35vh;
  width: 40vw;
  border: 2px solid #ccc;
  background-color: #f9f9f9;
  padding: 20px;
  margin: 10px; /* Reduced margin to decrease the gap */
  margin-top: 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: transform 1s;
}

.game-container.animate {
  transform: rotateY(360deg);
}

.question {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ensure the question takes up the full height of its container */
  text-align: center; /* Center the text inside the question div */
  font-size: 1.5rem;
}



